body {
    font-family: 'Courier New', Courier, monospace;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin: 20px auto;
}

.casilla {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

